.pio
.clang_complete
.gcc-flags.json
*Thumbs.db
/data/www
/lib/framework/WWWData.h
/interface/build
/interface/node_modules
.vscode
/.vs
/Debug
/interface/.vs/interface/v16
/interface/bin
/interface/obj/Debug
